body {
    font-family: Roboto;
    background-color: #20202D;
}

h1, h2, h3, h4, p {
    color: #FFFFFF;
}
h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 58.59px;
}

h2 {
    font-weight: 700;
    Font-size: 36px;
    line-height: 42px;
    margin-bottom: 84px;
}

h3 {
    margin-bottom: 16px;
    font-style: bold;
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-style: bold;;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

.container {
    width: 95%;
    max-width: 920px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.hero-text h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 20px;
}

.hero-header {
    width: 100%;
    height: 28px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 139px;
    flex-direction: row;
    align-items: center;
}

.social-links {
    width: 177px;
}
.social-links a img {
   width: 18px;
   height: 17px;
}

.hero-content {
    margin-bottom: 64px;   
    align-items: center;
}

.hero-content .hero-text {
    width: 421px;
}

.hero-description h2 {
    color: #FFBB01;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
}

.hero-description .description {
    position: relative;
    width: 420px;
    height: 86px;
    margin-bottom: 38px;
}

.hero-description button {
    position: relative;
    width: 285px;
    height: 66px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
}

.hero-description #text {
    position: relative;
    margin: 24px 42px;
    color: #2E2E30;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.hero-avatar {
    width: 409px;
    height: 367px;
}

.mask-group {    
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: 389px;
    height: 389px;
}

.img {
    width: 430px;
    height: 590px;
    background: url(../img/avatar.png);
}

.features {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 83px;
}

.storage {
    float: left;
    width: 80%;
    margin-bottom: 63px;
}
.cards-img {
    margin-bottom: 22px;
}
.projects {
    width: 100%;
}

.projects-container {
    display: flex;
    margin-top: 76px;
}

.image1 {
    width: 338px;
    height: 268px;
    margin-right: 62px;
}

.company {
    line-height: 28px;
    margin-bottom: 42px;
}

.text-description {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    justify-content: flex-start;
}

.pic {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.text1 {
    margin-right: 64px;
}

.txt {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-bottom: 44px;
}

.feedback {
    display: flex;
}

#img {
    width: 30px;
    height: 25px;
    margin-right: 16px;
}

.dots {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 165px;
}

.dot {
    margin-right: 10px;
}

.contacts h2 {
    margin-bottom: 84px;
}

.contacts-information {
    width: 350px;
}
.contacts-information a {
    color: rgba(165, 165, 165, 1);
    text-decoration: underline;
}
.social {
    margin-top: 53px;
    margin-left: 2px;
}

.social h3 {
    margin-top: 53px;
    margin-bottom: 15px;
}

.links {
    display: flex;
    margin-bottom: 44px;
}

.socials {
    margin-right: 37px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 42px;
}

.contacts-information .social-links {
    width: 100px;
    margin: 20px 0 74px;
}
.contacts-block {
    padding-bottom: 148px;
}
/* media */
@media screen and (max-width: 880px) {
    .hero-header {
        width: 90%;
    }
    .hero-content {
        flex-direction: column-reverse;
    }
    .cards,
    .contacts-block,
    .phone-email,
    .links,
    .description,
    .projects-container,
    .dots {
        display: block;
    }
    .dots {
        text-align: center;
    }
    .hero-description {
        margin-top: 62px;
        display: inline-block;
        text-align: center;
    }
    .hero-description .description {
        width: 276px;
        margin-bottom: 17px;
        height: 138px;
        text-align: center;
        font-size: 14px;
    }
    .hero-description h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .hero-description h2 {
        font-size: 16px;
    }
    .image1 {
        float: none;
        margin-bottom: 46px;
    }
    .pic {
        float: left;
    }
    .features h2 {
        text-align: center;
        font-size: 19px;
    }
    .projects {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
    .projects h2 {
        margin-bottom: 35px;
    }
    .cards {
        display: block;
        margin: 0 auto;
        width: 261px;
    }
    .txt {
        width: 210px;
    }
    .contacts {
        display: block;
        margin: auto;
        width: 50%;
    }
    .contacts h2 {
        text-align: center;
    }
    .contacts-information {
        margin-top: 58px;
    }
    .contacts-information p:last-child {
        padding-bottom: 50px;
        color: rgba(165, 165, 165, 1);
    }
    .phone {
        margin-bottom: 35px;
    }
    .social {
        margin-bottom: 39px;
    }
    @media screen and (max-width: 690px) {
        .contact-form img {
            width: 256px;
            margin: 0 auto;
            display: block;
        }
    }
        
    
}
