body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background-color: #20202D;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
}

.hero {
    width: 100%;
    margin-bottom: 64px;
}

.hero-header {
    width: 100%;
    height: 28px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 139px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    width: 177px;
    height: 19px;
}

.social {
   width: 18px;
   height: 17px;
   margin-left: 21px;
}

.hero-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    width: 421px;
}

#freelancer {
    color: #FFBB01;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 20px;
}

.description {
    position: relative;
    width: 420px;
    height: 86px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.button {
    position: relative;
    width: 285px;
    height: 66px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
}

#text {
    position: relative;
    margin: 24px 42px;
    color: #2E2E30;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.hero-avatar {
    width: 409px;
    height: 367px;
    left: 648px;
    top: 182px;
    margin-left: 126px;
}

.mask-group {
    
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: 389px;
    height: 389px;
}

.img {
    width: 430px;
    height: 590px;
    background: url(/img/avatar.png);
}

.features {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 83px;
}

.storage {
    float: left;
    width: 80%;
    margin-bottom: 63px;
}


h2 {
    font-weight: 700;
    Font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 84px;
}

.cards-img {
    margin-bottom: 22px;
}

h3 {
    color: #FFFFFF;
    margin-bottom: 16px;
    font-style: bold;
    font-size: 24px;
    line-height: 28px;
}

p {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.projects {
    width: 100%;
}

.projects-container {
    margin-top: 76px;
}


.image1 {
    float:left;
    margin-right: 65px;
}

.company {
    color: #FFFFFF;
    margin-bottom: 16px;
    font-style: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 42px;
}

.text-description {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 43px;
}

.pic {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.text1 {
    margin-right: 64px;
}

h4 {
    font-style: bold;;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.txt {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-bottom: 44px;
}

.feedback {
    display: flex;
}

#img {
    width: 30px;
    height: 25px;
    margin-right: 16px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-left: 26px;
    margin-bottom: 165px;
}

.dot {
    margin-right: 10px;
}

#contacts {
    margin-bottom: 84px;
}

.contacts-text {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

.social {
    margin-top: 53px;
    margin-left: 2px;
}

#social {
    margin-top: 53px;
    margin-bottom: 15px;
}

.links {
    display: flex;
}

.socials {
    margin-right: 37px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 42px;
}

.social-links {
    
}

